{% include 'accounting_app/www/base.html' %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    {% include "accounting_app/public/js/main.js" %}
</script>

<h3>Items</h3>
<div class="item-list">
    {% for i in items %}
    <div class="item">
        <div class="mb-2">
            <a class="text-decoration-none" href={{i.route}}>
                <img class="" src="{{i.image}}" alt={{i.item_name}}>
            </a>
            <button class="add-to-cart btn" value="{{ i.item_name }}">
                Add to Cart
            </button>
        </div>
        <div class="d-flex flex-column pt-4">
            <p><a class="text-decoration-none font-weight-bold" href="{{i.route}}">
            {{i.item_name}}
            </a></br>
                {% if i.description %}
                {{i.description}}
                {% endif %}
            </p>
            <p class="font-weight-bold">Rs. {{i.price}}</p>
        </div>
    </div>
    {% endfor %}    

</div>